<ion-view view-title="Vijest">
    <ion-content padding="true" class="has-header">
        <div class="article-winner-photo-container">
            <img class="article-winner-photo" src="/img/news/txt_pobjednik_pekmezijade.png">
        </div>

        <div class="article-winner-photo-container">
            <img src="/img/news/pobjednik_pekmezijade_ikona.png" class="article-winner-badge" />
        </div>

        <h2 class="article-winner-name">{{Article.get("winner").get("username")}}</h2>
    </ion-content>
</ion-view>