<ion-view view-title="Novosti">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
                <form>
                    <label class="item item-input">
                        <span class="input-label">Input</span>
                        <input type="text" placeholder="">
                    </label>
                </form>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>