/* Empty. Add your own CSS if you like */

@font-face {
	font-family: "PFSquareSansPro";
	src: url("fonts/PFSquareSansPro.otf") format("opentype");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
	font-family: "PFSquareSansPro";
	src: url("fonts/PFSquareSansProExtraBlack.otf") format("opentype");
    font-weight: bold;
    font-style: normal; 
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: PFSquareSansPro;
}
.header-item{
    font-weight:bold;
}


.panel-background {
	/*background: -moz-linear-gradient(165deg, #004E94, #004E94 20%, #0091DB);
	background: -o-linear-gradient(165deg, #004E94, #004E94 20%, #0091DB);
	background: linear-gradient(165deg, #004E94, #004E94 20%, #0091DB);
	background: -webkit-linear-gradient(#004E94, #004E94 20%, #0091DB);
	background: -webkit-gradient(linear, left top, left bottom, from(0%, #004E94), to(100%, #0091DB));*/
    background: linear-gradient(152deg, white 0%,white 55%,white 55%,#f6f6f6 45%,#f6f6f6 100%); /* W3C */
	height: 100%;
	margin: 0;
	width: 100%;
}
.pane {
    background: linear-gradient(152deg, white 0%,white 55%,white 55%,#f6f6f6 45%,#f6f6f6 100%); /* W3C */
}

.produce-title, .produce-price {
    color: #bac6b8;
    font-size: 20px;
}

.produce-quantity {
    color: #d5d5d5;
    font-size: 20px;
}

.produce-buy {
    float: right;
    padding: 5px 30px;
    background-color: #362f2d;
    color: white;
    border: none;
}

.teglanje-header-background
{
    background-color: #362f2d;
}

.bar.bar-teglanje {
    border-color: #362f2d;
    background-color: #362f2d;
    background-image: linear-gradient(0deg, #362f2d, #362f2d 50%, transparent 50%);
    color: #fff;
}


.tabs-teglanje > .tabs, .tabs.tabs-teglanje {
    border-color: #362f2d;
    background-color: #362f2d;
    background-image: linear-gradient(0deg, #362f2d, #362f2d 50%, transparent 50%);
    color: #fff;
}
    .tabs-positive > .tabs .tab-item .badge, .tabs.tabs-positive .tab-item .badge {
        background-color: #fff;
        color: #362f2d;
    }

.padding-top-10{
    padding-top:10px;
}


.tabs .tab-item .icon.challenges {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 90%;
    background-image: url('../img/ikona_izazov.png');
    background-size: contain;
}

.tabs .tab-item .icon.cart {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 90%;
    background-image: url('../img/ikona_kosarica.png');
    background-size: contain;
}
.cart-btn {
    background-repeat: no-repeat;
    background-image: url('../img/ikona_kosarica.png');
    background-size: contain;
}

.tabs .tab-item .icon.recipes {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 90%;
    background-image: url('../img/ikona_recepti.png');
    background-size: contain;
}

.tabs .tab-item .icon.news {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 90%;
    background-image: url('../img/icona_novosti.png');
    background-size: contain;
}

.article-photo {
    width: 100%;
}

.text-center{
    text-align:center;
}
