/* Empty. Add your own CSS if you like */

.produce-title, .produce-price {
    color: #bac6b8;
    font-size: 20px;
}

.produce-quantity {
    color: #d5d5d5;
    font-size: 20px;
}

.produce-buy {
    float: right;
    padding: 5px 30px;
    background-color: #362f2d;
    color: white;
    border: none;
}

.teglanje-header-background
{
    background-color: #362f2d;
}

.bar.bar-teglanje {
    border-color: #362f2d;
    background-color: #362f2d;
    background-image: linear-gradient(0deg, #362f2d, #362f2d 50%, transparent 50%);
    color: #fff;
}


.tabs-teglanje > .tabs, .tabs.tabs-teglanje {
    border-color: #362f2d;
    background-color: #362f2d;
    background-image: linear-gradient(0deg, #362f2d, #362f2d 50%, transparent 50%);
    color: #fff;
}
    .tabs-positive > .tabs .tab-item .badge, .tabs.tabs-positive .tab-item .badge {
        background-color: #fff;
        color: #362f2d;
    }


.tabs .tab-item .icon.challenges {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ikona_izazov.png');
    background-size: contain;
}

.tabs .tab-item .icon.cart {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ikona_kosarica.png');
    background-size: contain;
}

.tabs .tab-item .icon.recipes {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ikona_recepti.png');
    background-size: contain;
}

.tabs .tab-item .icon.news {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/icona_novosti.png');
    background-size: contain;
}

.article-photo {
    width: 100%;
}
