<ion-view view-title="Kosarica">
    <ion-content padding="true" class="has-header">
        <button class="button button-stable button-block ">Prošle narudžbe</button>
        <ion-list>
            <ion-item ng-repeat="item in addedToCart">


                <div ng-switch on="item.className">
                    <div ng-switch-when="recipe" class="text-center">
                        <p class="recipe-title">
                            {{item.get('name')}}
                            <br />
                            <hr style="width:50px;" />
                        </p>

                        <div class="padding"></div>

                        <img ng-src="{{item.get('photo').url()}}" class="recipe-thumb" />
                        <div class="padding"></div>
                        <span class="recipe-ingredient" ng-repeat="ingredient in item.ingredients">{{ingredient.get('quantity')}} {{ingredient.get('quantityvalue')}} {{ingredient.get('ingredient').get('name')}}<br /></span>
                    </div>
                    <div ng-switch-when="ingredientprice" class="text-center">
                        <p class="recipe-title">
                            {{item.get("ingredient").get("name")}}
                            <br />
                            <hr style="width:50px;" />
                        </p>
                        <img src={{item.get("ingredient").get("photo").url()}} class="recipe-thumb"/>
                      
                        <h2 class="produce-price">{{item.get("price")}} kn</h2>
                        <h2 class="produce-quantity">1 {{item.get("quantityType")}}</h2>
                    </div>
                    <div ng-switch-default>
                        dunno
                    </div>
                </div>
            </ion-item>
            <div class="padding-top-10"></div>

        </ion-list>
        <div>
            <p>Sljedece zelena tržnica ne kojoj možete pokupiti vašu košaricu je u petak na lokaciji Kralja Tomislava 50 u 7h</p>
        </div>
        <button class="button button-stable button-block" ng-click="checkout()">Bit ću tamo</button>
    </ion-content>
</ion-view>