<ion-view view-title="Kosarica">
    <ion-content padding="true" class="has-header">
        <button class="button button-stable button-block ">Prošle narudžbe</button>
        <ion-list>
            <ion-item>Krumpir - 3kg</ion-item>
            <ion-item>Paprika - 10kg</ion-item>
            <ion-item>Krastavac - 2 kg</ion-item>
        </ion-list>
        <div>
            <p>Sljedece zelena tržnica ne kojoj možete pokupiti vašu košaricu je u petak na lokaciji Kralja Tomislava 50 u 7h</p>
        </div>
        <button class="button button-stable button-block ">Bit ću tamo</button>
    </ion-content>
</ion-view>