<ion-view view-title="Kupovina">
    <ion-content  class="has-header ">
        <div class="padding-top-10"></div>
        <button ng-if="previousOrders && previousOrders.length" class="button button-stable button-block" ui-sref="home.cartprevious">Prošle narudžbe</button>

        <div ng-repeat="item in produces" class="card">
            <div class="item item-text-wrap item-thumbnail-left">
                <img src={{item.get("ingredient").get("photo").url()}}>
                <h2 class="produce-title">{{item.get("ingredient").get("name")}}</h2>
                <h2 class="produce-price">{{item.get("price")}} kn</h2>
                <button class="produce-buy" ng-click="addToCart(item)">KUPI</button>
                <h2 class="produce-quantity">1 {{item.get("quantityType")}}</h2>
                <!--<form>
                    <label class="item item-input">
                        <span class="input-label">Unesi kolicinu:</span>
                        <input type="text" placeholder="">
                    </label>
                </form>-->
            </>
            <div class="padding-top-10"/>
        </div>
    </ion-content>
</ion-view>