<ion-view view-title="Kupovina">
    <ion-content padding="true" class="has-header ">
        <ion-list ng-repeat="item in produces">
            <ion-item class="item-thumbnail-left">
                <img src={{item.get("ingredient").get("photo").url()}}>
                <h2 class="produce-title">{{item.get("ingredient").get("name")}}</h2>
                <h2 class="produce-price">{{item.get("price")}} kn</h2>
                <button class="produce-buy" ng-click="addToCart(item)">KUPI</button>
                <h2 class="produce-quantity">1 {{item.get("quantityType")}}</h2>
                <!--<form>
                    <label class="item item-input">
                        <span class="input-label">Unesi kolicinu:</span>
                        <input type="text" placeholder="">
                    </label>
                </form>-->
            </ion-item>
            <div class="padding-top-10"/>
        </ion-list>
    </ion-content>
</ion-view>