<ion-view view-title="Izazov">
    <ion-content padding="true" class="has-header">

        <div class="text-center">

            <div class="padding"></div>
            <div class="padding"></div>

            <img class="height-header-photo" ng-src="{{Challenge.get('headerPhoto').url()}}" />

            <div class="padding"></div>
            <div class="padding"></div>

            <img style="max-height:100px;" class="height-photo" ng-src="{{Challenge.get('photo').url()}}" />

            <div class="padding"></div>
            <div class="padding"></div>

            <p class="info-text">{{Challenge.get("info")}}</p>

            <div class="padding"></div>
            <p class="info-text">Do sada prijavljeni:</p>
            <span ng-repeat="part in Participants" class="info-text-bold">{{part.get('user').get('username')}} <br /></span>
            <div class="padding"></div>
            <button class="btn-add-recipe" ng-click="ApplyToChallenge(Challenge)">SUDJELUJEM</button>
        </div>
    </ion-content>
</ion-view>